<tfoot width="100%" style="width:800px;">
  <tr>
    <td>
      <a href="https://twitter.com/anesthesianews" target="_blank">
        <img class="social" alt="AN Twitter Feed" src="http://www.mcmahonmed.com/bmxenet/banners/twitter.png" title="AN Twitter Feed">
      </a>
      <a href="https://www.facebook.com/anesthesiologynews" target="_blank">
        <img class="social" alt="AN Facebook" src="http://www.mcmahonmed.com/bmxenet/banners/fbook.png" title="AN Facebook">
      </a>
      <a href="https://plus.google.com/+Anesthesiologynews/posts" target="_blank">
        <img class="social" alt="AN Google Plus" src="http://www.mcmahonmed.com/bmxenet/banners/g_plus.png" title="AN Google Plus">
      </a>
      <a href="https://itunes.apple.com/us/app/anesthesiology-news-digital/id509832698?mt=8" target="_blank">
        <img class="social" alt="AN Apple App Store" src="http://www.mcmahonmed.com/bmxenet/banners/app.png" title="AN Apple App Store">
      </a>
    </td>
  </tr>

  <tr>
    <td>
      <span>Remember to read the full print edition of Anesthesiology News. Not a subscriber? Click
        <a href="http://www.anesthesiologynews.com/NewSubscription">here</a> for more information.
      </span>
    </td>
  </tr>

  <tr>
    <td>
      <span>Copyright © 2018 McMahon Publishing unless otherwise noted. </span>
      <br>
      <span>
        Anesthesiology News and
        <a href="http://www.anesthesiologynews.com/" target="_blank">www.anesthesiologynews.com</a>
        are part of McMahon Publishing.
      </span>
    </td>
  </tr>

  <tr>
    <td>
      <span>All rights reserved. Reproduction in whole or in part without permission is prohibited.</span>
    </td>
  </tr>

</tfoot>