body {
  font-family: "Source Sans Pro", sans-serif;
  width: 800px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.heading {
  margin: 0 auto;
  padding: 0.25rem 0 0.75rem 0;
  text-align: center;
}

.top-ad {
  padding: 0.25rem 0 0.75rem 1.75rem;
}

.title {
  text-align: right;
  color: #001;
  font-style: italic;
  font-weight: lighter;
  border-bottom: 1px solid #db1921;

  padding: 1rem 0 2rem 0;
  margin: 1rem 0 1rem 0%;
}

.body-container {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 396px 396px;
  grid-gap: 0.5em;

  /*cols are 396px to give room for the gap. 1rem = 16px for this sizing */
}

article {
  background-color: #e0e0e0;
  border-radius: 5px;
  padding-bottom: 2rem;
}

article > img {
  border-radius: 5px;
  display: block;
  margin: 1rem auto;
}

a > h3 {
  width: 80%;
  display: block;
  margin: 0 auto 1rem auto;
}

.body-ad-1,
.body-ad-2 {
  margin: 0 auto;
}

.button {
  border-radius: 10px;
  background-color: #db1921;
  color: #fff;
  padding: 0.5rem 1rem;
  float: right;
  margin-right: 2rem;
}

.article-3,
.article-4 {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.multi-web {
  padding: 0.5rem 0.5rem 0;
}

footer {
  background-color: #333;
  color: #fff;
  width: 100%;
}

.social-container {
  margin: 0 auto;
  text-align: center;
}

.social {
  border-radius: 50px;
  margin: 1rem 0.5rem;
}

.footer-info {
  text-align: center;
  line-height: 2rem;
  padding-bottom: 1rem;
}

/* -------- Media queries ------ */

@media (max-width: 450px) {
  body {
    width: 450px;
  }

  .top-ad {
    padding-left: 0;
  }
  .top-ad > a > img {
    width: 450px;
  }

  .title {
    padding-right: 1rem;
  }

  .body-container {
    grid-template-columns: 450px;
    grid-template-rows: repeat(6, auto);
  }

  .article-2 {
    grid-row: 2;
  }

  .body-ad-2 {
    grid-row: 6;
  }
}
